<!DOCTYPE html>
<html>
<head>
    <title>Nova Assinatura</title>
    <meta charset="utf-8" />
    <link href="../lib/css/bootstrap.css" rel="stylesheet" />
    <link href="../lib/css/adm.css" rel="stylesheet" />
    <link href="nova_assinatura.css" rel="stylesheet" />
    <script src="../lib/js/angular.min.js"></script>
    <script src="assinatura.js"></script>
    <script src="../lib/js/jquery-2.2.3.min.js"></script>
</head>
<body ng-app="assinaturaApp">
    <div ng-controller="assinaturaCtrl">
        <section class="container">
            <section>
                <h1 class="center">Contrate agora!</h1>
                <h4 class="description">1) Selecione os módulos que deseja contratar e monte o valor da sua mensalidade</h4>
            </section>
            <hr/>
            <section class="row">
                <div class="itens" ng-repeat="produto in produtos">
                    <div class="item">
                        <button type="button" class="btn btn-primary" id="btnAddItem" ng-click="adicionarModulo()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button type="button" class="btn btn-primary" id="btnRemoveItem" style="display: none;">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>

                        <label class="text-primary">{{produto.Nome}}</label>
                        <hr/>
                        <label>R$ {{produto.Valor}}</label>
                        <br/>
                        <p class="descricao">{{produto.Descricao}}</p>
                    </div>
                </div>
            </section>
            <div class="row">
                <h4 class="description">2) Selecione a modalidade </h4>
            </div>
            <hr/>
            <div class="modalidades">
                <div ng-repeat="modalidade in modalidadesDeAssinatura">
                    <div class="modalidade" data-type="{{modalidade.Tipo}}">
                        <input type="radio" name="tipoModalidade" ng-click='selecionarModalidade()' ng-model="value"/>
                        <span class="glyphicon glyphicon-tag"></span>
                        <span style="font-size: 20pt;">{{modalidade.Tipo}}</span>
                        <p class="description">R$ {{assinatura.Valor}} a cada {{modalidade.Intervalo}} mes(es)</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <pre>{{assinatura}}</pre>    
            </div>
            
        </section>
        
        <div class="assinatura">
            <div class="col-md-6">Módulos Contratados: <p>{{assinatura.Modulos}}</p></div>
            <div class="col-md-2">Modalidade: {{assinatura.Modalidade}}</div>
            <div class="col-md-2">Preço(R$): {{assinatura.Valor}}</div>
            <input type="button" class="btn btn-default btn-lg" style="float: right; margin-right: 5px;" value="Assinar agora"/>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('input[name="tipoModalidade"]').attr('checked', false);
        });
    </script>
</body>

</html>
